@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-cover bg-center;
  @apply font-paper;
  background-image: url('/public/background.png');
  background-color: #081232;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-1Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-2ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-3Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-5Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-6SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-7Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-8ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Paperlogy";
  src: url("fonts/Paperlogy-9Black.ttf") format("truetype");
  font-weight: 900;
}